body {
	width: 800px; 
	margin: auto;
}

@media ( max-width: 800px ) {
	body {
		width: 90%;
	}
}

@media ( min-width: 640px ) {
	body {
		background-color: #eaf6ff;
	}

	h1 {
		font-size: 2.5rem;
	}
}

@media ( max-width: 500px ) {

	h1 {
		font-size: 1.5rem;
	}
}


#fixed-size-grid-items li{
	list-style-type: none;
}

#fixed-size-grid-items ul {
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
}

#fixed-size-grid-items aside {
	width: 170px;
	margin: 10px;
	font-size: 0.8rem;
}


#stretchable-grid-items li {
	width: 100%;
	list-style-type: none;
}

#stretchable-grid-items ul {
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;

	margin: 1rem -10px;
}

#stretchable-grid-items aside {
	margin: 10%;
}

@media ( min-width: 480px ) {
	#stretchable-grid-items li {
		width: 50%;
	}
}

@media ( min-width: 640px ) {
	#stretchable-grid-items li {
		width: 25%;
	}
}
















