body{
	font-size: 30px; 
	font-family: raleway, sans-serif; 
}

h1{
	font-weight: normal;
	font-size: 3em;
	margin-top: 0;
}

div.headline{
	font-weight: bold;
	color: gray; 
	font-size: 20px; 
	margin-top: 60px;  
}

div.refine{
	margin-top: .65em; 
	margin-left: .6em; 
}

div.fontdescription{
	display: flex; 
	margin-top: 1em;
	column-span: all;
}

div.bodycopy{
	margin-left: 16.3em; 
}

div.describe{
	color: gray; 
	font-size: 12px; 
	margin-top: 15px; 
}


div.bold{
	font-weight: bold;
}

div.italic{
	font-style: italic;
}

div.spacing{
	letter-spacing: 10px;
}

div.spacing2{
	letter-spacing: -3px; 
}

div.transform{
	text-transform: uppercase;
}

div.transform2{
	text-transform: lowercase;
}

div.transform3{
	text-transform: capitalize;
}

div.decoration{
	text-decoration: line-through;
}

div.decoration2{
	text-decoration: underline;
}

div.decoration3{
	text-decoration: overline;
}